.intro {
  padding: 16px 32px 24px 32px;
  font-size: 2em;
  margin: 0;
}
.intro strong {
  color: var(--mg-primary);
}

.services {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.8em;
  margin-bottom: 16px;
}
.services h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 16px;
}
.services i {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: var(--mg-primary);
}
.services p {
  padding: 16px 16px 0 16px;
  margin: 0;
  text-align: center;
}

.service {
  width: 28%;
  border: 2px solid var(--mg-primary);
  border-radius: 8px;
  padding: 24px 0;
}

.service i:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .intro {
    padding: 16px;
  }

  .services {
    flex-direction: column;
  }

  .service {
    width: calc(100% - 48px);
    margin: 0 24px;
    border: none;
    padding: 8px 0;
  }
}