#rs-todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 40px auto;
  font-size: 1.6em;  
}

#rs-todo-noData {
  margin-top: 16px;
  text-align: center;
}

/* ToDoInput CSS */
#rs-todos-input {
  display: flex;
  margin-top: 40px;
}
#rs-todos-input .ui.input {
  width: 100%;
  margin-right: 16px;
}