.markdownContainer h1 {
  font-size: 2.2em;
}
.markdownContainer h2 {
  font-size: 2em;
}
.markdownContainer h3 {
  font-size: 1.8em;
}
.markdownContainer h4 {
  font-size: 1.6em;
}

.markdownContainer p {
  margin: 16px 0;
}

.markdownContainer ul, .markdownContainer ol {
  padding-left: 24px;
  margin-bottom: 8px;
}

.markdownContainer > blockquote {
  border-left: 4px solid #737C85;
  margin: 16px 0;
  padding: 8px 24px;
}

.markdownContainer > pre {
  max-width: 584px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #2C2D31;
  border-radius: 4px;
  padding: 0 16px;
}

.markdownContainer > pre > code, .markdownContainer > p > code {
  background-color: #2C2D31;
  color: #99DCFD;
  padding: 4px;
  border-radius: 4px;
}

.markdownContainer a {
  color: #3182CE;
}

.markdownContainer img {
  margin: 0 auto;
}