{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
