.postTitle {
  border-bottom: none;
  text-align: center;
  font-weight: bold;
  color: var(--mg-primary);
  font-size: 3.6em;

}

.coverImageContainer {
  display: flex;
  justify-content: center;
}
.coverImageContainer img {
  border-radius: 4px;
}

.datePublished {
  color: var(--mg-primary);
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  padding: 24px 0 16px 0;
}