.rs-hooks-counter-btn {
  margin: 10px 0;
  font-size: 1.1em;
  background-color: green;
  color: white;
}
.rs-hooks-counter-btn:hover {
  cursor: pointer;
}
.rs-hooks-counter-btn:last-child {
  background-color: red;
  margin-left: 10px;
}