.mg-dataTable-container {
  background-color: #FFF;
  font-size: 1.6em;
  padding: 24px 0;
}

.mg-dataTable {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  color: #212121;
  border-collapse: collapse;
}

.mg-dataTable-header {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.mg-dataTable-header th {
  font-weight: 400;
  padding: 8px;
}

.mg-dataTable-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}

.mg-dataTable-header-icon {
  color: #cecece;
}

.mg-dataTable-body tr { border-bottom: 1px solid #ddd; }
.mg-dataTable-body tr:hover { background-color: #f5f5f5; }
.mg-dataTable-body tr td { 
  padding: 6px 16px;
  padding-left: 24px;
  line-height: 1.43;  
}

.mg-dataTable-rowFilter { padding: 4px 0; }
.mg-dataTable-rowFilter .ui.icon.button {
  display: flex;
  justify-content: center;
  padding: 0; 
  min-width: 32px;
  background-color: var(--react-primary);
  color: var(--react-secondary);
}
.mg-dataTable-rowFilter .ui.icon.button:hover {
  opacity: .7;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}