#mg-counter-container {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 24px 0;
  padding: 40px 0;
  text-align: center;
  font-size: 2em;
}

.mg-counter-section { width: 50%; }

#mg-simple-countText {
  margin: 24px 0 28px 0;
}

.mg-objCounter-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  margin: 10px auto;
}