/* Price step CSS */
#price {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 40px auto;
}

#price button {
  margin: 32px 0;
  background-color: var(--mg-primary);
  color: white;
}
#price button:hover {
  opacity: .8;
}

#price img {
  max-width: 300px;
}

/* Checkout step CSS  */
#container {
  position: relative;
  width: 100%;
  max-height: 100%;
  font-size: 1.8em;
}

#loadingContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#checkout {
  display: flex;
  flex-direction: column;
}

#backBtn {
  max-width: 100px;
  background-color: transparent;
  margin-top: 8px;
}

#paypal {
  padding: 24px 40px;
}

#processing {
  font-size: 1.8em;
  line-height: 2;
}

#processingOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2B2B2B;
  z-index: 10;
  padding-top: 64px;
  opacity: .8;
}

/* Other */
#error {
  display: flex;
  width: 100%;
  line-height: 1.4;
  padding: 8px 0;
  background-color: #f8d7da;
  color: #721c24;
}
#error i {
  margin: 0 8px;
}