#header {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: var(--portfolio-secondary);
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  margin: 0 auto;
}

#codeIcon {
  color: white;
}

#title {
  display: flex;
  align-items: center;
}

#titleText {
  padding-left: 24px;
}
#titleText h1 {
  font-size: 2.4em;
  color: white;
  padding-bottom: 4px;
}
#titleSubText {
  font-size: 1.6em;
  color: #A9A9A9;
}

.navButton {
  background-color: transparent !important;
  color: #ccc !important;
}