#form {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  max-width: 700px;
  margin: 0 auto;
}
#form textarea {
  max-width: 100%;
  margin: 8px auto 24px auto;
  outline: none;
  border: 2px solid rgba(34,36,38,.15);
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 16px;
}
.userInfo input {
  min-width: 324px;
  border: 2px solid rgba(34,36,38,.15);
}
.userInfo input:focus, #form textarea:focus {
  border: 2px solid var(--mg-primary); 
}

.submitContainer {
  display: flex;
  align-items: center;
}

#submitBtn {
  background: -webkit-linear-gradient(to bottom right, #004e92 40%, #000428);
  background: linear-gradient(to bottom right, #004e92 40%, #000428);
  color: white;
  min-width: 200px;
  max-width: 250px;
  transition: .5s;
}
#submitBtn:hover {
  opacity: .8;
}
#submitBtn:disabled {
  color: #0A0A0A;
  background-color: #C0C1C2;

}

.loadingSpinner {
  margin-left: 16px !important;
  padding: 0 !important;
}

.error {
  margin-left: 16px;
  margin-top: 12px;
  color: red;
}



@media screen and (max-width: 1050px)  {
  .userInfo {
    flex-direction: column;
    margin: 8px 24px;
  }
  .userInfo input {
    margin: 8px 0 !important;
    min-width: 100%;
  }

  #form textarea {
    width: calc(100% - 48px);
  }

  #submitBtn {
    margin-left: 24px;
  }
}

@media screen and (max-width: 600px)  {
  .submitContainer {
    flex-direction: column;
  }

  #submitBtn {
    margin: 0;
  }

  .loadingSpinner {
    margin: 0 !important;
    margin-top: 16px !important;
  }
}
