#mg-reactSandbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 0 16px;
  background-color: var(--react-secondary);
  color: #FFF;
}


#mg-reactSandbox-headerTitle { 
  display: flex;
}
#mg-reactSandbox-headerTitle i {
  color: var(--react-primary);
  margin-right: 8px;
}

#mg-reactSandbox-headerSpacer {
  width: 40px;
}

#mg-reactSandbox-nav {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.ui.button.mg-reactSandbox-navBtn {
  width: 112px;
  margin: 0 4px;
}