.otherTitle {
  font-weight: normal;
  text-align: center;
  margin: 24px 0 32px 0 !important;
}

.otherContact {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
.otherContact i {
  color: var(--mg-primary);
}
.otherContact div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.otherContact span {
  padding-left: 8px;
}

