.ui.button.mg-primary-btn {
  background-color: var(--mg-primary-color);
  color: white;
}

.ui.button.mg-react-btn {
  background-color: var(--react-primary-color);
  color: var(--react-secondary-color);
}

.ui.button.mg-custom-btn {
  transition: .3s;
}

.ui.button.mg-custom-btn:hover {
  opacity: .7;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}