#rs-dataTable {
  width: 100%;
  border-radius: 5px;
  overflow: scroll;
  padding: 12px;
  color: #212121;
  border-collapse: collapse;
}

#rs-dataTable-header-container {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

#rs-dataTable-header-container th {
  font-size: 15px;
  font-weight: 400;
  padding: 20px 8px 4px;
}

#rs-dataTable-header-container .rs-dataTable-header-content:hover .rs-dataTable-header-icon {
  color: #000;
}

.rs-dataTable-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rs-dataTable-header-icon {
  color: #cecece;
}

#rs-dataTable-body tr  {
  border-bottom: 1px solid #ddd;
}
#rs-dataTable-body tr:hover  {
  background-color: #F5F5F5;
}

#rs-dataTable-body tr td {
  padding: 6px 8px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 1.42857143;
}

.rs-dataTable-filter {
  padding: 4px 0;
}

.rs-dataTable-filter .ms-TextField i{
  color: #0078d4;
}