.itemContainer {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 16px;
  margin: 16px 24px;
  box-shadow: 0 3px 10px rgba(25, 17, 34, .05);
  border-radius: 4px;
  transition: .3s;
}
.itemContainer:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 42px rgba(25, 17, 34, .1);
  cursor: pointer;
}

.imgContainer {
  max-width: 400px;
  max-height: 100%;
}

.itemContent {
  padding: 0 24px;
  font-size: 1.6em;
}

.itemTitle {
  font-size: 1.3em;
  color: var(--mg-primary);
}

.itemDate {
  color: #AEAEAE;
}

.itemDesc {
  margin: 4px 0 8px 0;
}

@media screen and (max-width: 850px)  {
  .itemContainer {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    width: 100%;
    margin-bottom: 8px;
  }

  .itemContent {
    padding: 0;
    padding-top: 8px;
    text-align: center;
  }

  .itemDate {
    text-align: center;
  }
}

@media screen and (max-width: 450px)  {
  .itemDate span {
    padding-bottom: 12px;
  }
}