.footer {
  font-size: 1.8em;
  margin: 24px 0 32px 0;
}

.devLogo {
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
}

.counters {
  display: flex;
  justify-content: flex-end;
  color: var(--mg-primary);
  margin: 24px 0;
}
.counters i {
  padding: 0 24px;
}

.contribute {
  border: 1px solid var(--mg-primary);
  padding: 16px;
  border-radius: 4px;
  line-height: 1.4;
  text-align: center;
}

.contribute i {
  color: var(--mg-primary);
}
