#mg-hooks-categorySelector {
  background-color: #FFF;
  width: 100%;
  min-height: calc(100vh - 148px);
  overflow-y: auto;
}

#mg-hooks-categorySelector-title {
  text-align: center;
  margin: 32px 0;
  font-size: 3.2em;
}

#mg-hooks-categoryContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 24px;
}

.mg-hooks-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-height: 400px;
  border-radius: 8px;
  transition: .5s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.mg-hooks-category:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mg-hooks-category h2 {
  font-size: 4.4em;
  text-align: center;
}

#mg-hooks-react {
  background-color: var(--react-secondary);
  color: var(--react-primary);
}

#mg-hooks-custom {
  background-color: var(--mg-carbon-gray);
  color: var(--mg-primary-red);
}

@media only screen and ( max-width: 768px ) {
  #mg-hooks-categorySelector-title {
    margin: 16px 0;
  }

  #mg-hooks-categoryContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .mg-hooks-category {
    margin-bottom: 24px;
    width: 60%;
  }
}