.projectContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 15px;
  font-size: 1.8em;
}


/* .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--mg-primary);
  border-radius: 8px;
}
.project:hover .overlay {
  opacity: 1;
}
.overlay p {
  text-align: center;
  font-size: 1.1em;
  padding: 0 8px;
}

.overlayIcons {
  display: flex;
  align-items: center;
}
.overlay a {
  background-color: transparent !important;
  color: #fff !important;
  padding: 0 !important;
  margin: 0 8px !important;
}
.overlay i {
  margin: 0 8px;
} */


