#form {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  max-width: 800px;
  margin: 0 auto;
}

#userInfo {
  display: flex;
  justify-content: space-evenly;
  margin: 32px 0;
}
#userInfo input {
  min-width: 350px;
  border: 2px solid rgba(34,36,38,.15);
}
#userInfo input:focus, #form textarea:focus {
  border: 2px solid var(--mg-primary); 
}

#form textarea {
  width: 100%;
  max-width: 734px;
  margin: 0 auto;
  margin-bottom: 32px;
  outline: none;
  border: 2px solid rgba(34,36,38,.15);
}

#submitBtn {
  background-color: var(--mg-primary);
  color: white;
  max-width: 250px;
  margin-left: 32px;
}
#submitBtn:hover {
  opacity: .8;
}

#otherTitle {
  font-weight: normal;
  text-align: center;
  margin: 48px 0 40px 0;
}

#otherContact {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
#otherContact i {
  color: var(--mg-primary);
}
#otherContact div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#otherContact span {
  padding-left: 12px;
}