#form {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  max-width: 700px;
  margin: 0 auto;
}

#userInfo {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
#userInfo input {
  min-width: 324px;
  border: 2px solid rgba(34,36,38,.15);
}
#userInfo input:focus, #form textarea:focus {
  border: 2px solid var(--mg-primary); 
}

#form textarea {
  max-width: 100%;
  margin: 8px auto 24px auto;
  outline: none;
  border: 2px solid rgba(34,36,38,.15);
}

#submitContainer {
  display: flex;
  align-items: center;
}

#submitBtn {
  background: -webkit-linear-gradient(to bottom right, #004e92 40%, #000428);
  background: linear-gradient(to bottom right, #004e92 40%, #000428);
  color: white;
  min-width: 200px;
  max-width: 250px;
  margin-top: 8px;
  transition: .5s;
}
#submitBtn:hover {
  opacity: .8;
}

#error {
  margin-left: 16px;
  margin-top: 12px;
  color: red;
}

#otherTitle {
  font-weight: normal;
  text-align: center;
  margin: 32px 0;
}

#otherContact {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
#otherContact i {
  color: var(--mg-primary);
}
#otherContact div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
#otherContact span {
  padding-left: 12px;
}

@media screen and (max-width: 1050px)  {
  #userInfo {
    flex-direction: column;
    margin: 8px 24px;
  }
  #userInfo input {
    margin: 16px 0;
    min-width: 100%;
  }

  #form textarea {
    width: calc(100% - 48px);
    margin-top: 8px;
  }

  #submitBtn {
    margin-left: 24px;
  }
}

@media screen and (max-width: 600px)  {
  #submitContainer {
    flex-direction: column;
  }

  #submitBtn {
    margin-top: 24px;
  }
}