---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="About Michael Gee" description="" />
	</head>

	<body class="w-full bg-black text-white">
		<Header />

		<Container>
			<h2>About</h2>
		</Container>
	</body>
</html>
