---
import BaseHead from '@components/BaseHead.astro';
import ListItem from '@components/blog/ListItem.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import Footer from '@components/Footer.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Michael Gee's Blog"
			description="Michael Gee's personal blog sharing past experiences and cool things he has learned."
		/>
	</head>

	<body class="w-full bg-black text-white">
		<Header />

		<Container>
			<section class="flex flex-wrap justify-between py-4">
				{
					posts.map((post) => (
						<ListItem
							href={post.frontmatter.href}
							title={post.frontmatter.title}
							date={new Date(post.frontmatter.date).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'long',
								day: 'numeric'
							})}
							description={post.frontmatter.description}
						/>
					))
				}
			</section>
		</Container>

		<Footer />
	</body>
</html>
