---
import BaseHead from '@components/BaseHead.astro';
import BlogCard from '@components/blog/Card.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';

interface Post {
  frontmatter: {
    href: string;
    title: string;
    pubDate: string;
    description: string;
  };
}

const posts: Record<string, Post> = import.meta.glob('./blog/*.{md,mdx}', { eager: true });
const sortedPosts = Object.values(posts).sort((a, b) => {
  return new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf();
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Michael Gee's Blog"
      description="Michael Gee's personal blog sharing past experiences and cool things he has learned."
    />
  </head>

  <body class="w-full bg-black text-white">
    <Header />

    <Container>
      <section class="flex max-w-full flex-col">
        {
          sortedPosts.map((post) => (
            <BlogCard
              href={post.frontmatter.href}
              title={post.frontmatter.title}
              date={post.frontmatter.pubDate}
              description={post.frontmatter.description}
            />
          ))
        }
      </section>
    </Container>
  </body>
</html>
