body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left,#50a3a2 0%,#78cc6d 100%);
  background: linear-gradient(to bottom right,#50a3a2 0%,#78cc6d 100%);
  background-attachment: fixed;

  --mg-primary: #78cc6d;
}

h1 { font-size: 3.2em; margin: 0; }
h2 { font-size: 2.4em; margin: 0; }
h3 { font-size: 1.8em; margin: 0; }
h4 { font-size: 1.6em; margin: 0; }
h5 { font-size: 1.3em; margin: 0; }
h6 { font-size: 1.2em; margin: 0; }

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-title {
  font-size: 2.8em;
  padding: 24px;
  border-bottom: 2px solid #eee;
  font-weight: normal;
}

.page-body {
  display: flex;
  width: 100%;
  height: 94%;
  max-width: 1200px;
  max-height: 640px;
  border-radius: 4px;
  margin: 0 16px 0 8px;
  overflow: hidden;
}

.page-content {
  width: 100%;
  height: 100%;
  background-color: #fafafb;
  overflow-y: auto;
  border-radius: 4px;
}

.ui.visible.left.sidebar {
  background-color: #fafafb !important;
  width: 316px;
}

@media screen and (max-width: 960px) {
  #page {
    height: auto;
    overflow-y: auto;
    align-items: flex-start;
    margin: 16px 0 24px 0;
  }

  .page-body {
    flex-direction: column;
    max-width: calc(100% - 48px);
    max-height: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 650px) {
  #page {
    flex-direction: column;
    margin-top: 8px;
  }

  .page-title {
    padding: 16px;
  }

  .page-body {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}