---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import Footer from '@components/Footer.astro';
import { Image } from '@astrojs/image/components';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead
			title="Michael Gee"
			description="Michael Gee's personal website that consists of his professional & personal interests, projects, and findings primarily focused on software development."
		/>
	</head>

	<body class="w-full bg-black text-white">
		<Header />

		<Container customStyles="flex align-center justify-evenly">
			<section class="max-w-2xl">
				<h1 class="text-4xl font-bold text-zinc-100">
					<span class="h-10 mr-1 float-left">I'm a software</span>
					<span class="relative h-10 float-left overflow-hidden">
						<span
							class="relative top-0 left-0 inline-block text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-rose-500 whitespace-nowrap vertical-text-scroll"
						>
							<div class="h-10">engineer</div>
							<div class="h-10">enthusiast</div>
							<div class="h-10">blogger</div>
							<div class="h-10">consultant</div>
							<div class="h-10">memer</div>
						</span>
					</span>
				</h1>

				<p class="py-4 text-base clear-both text-zinc-600 dark:text-zinc-400">
					...passionate about turning ideas into applications. I'm currently working as a senior
					frontend software engineer at <a
						href="https://get.gofan.co/"
						target="_blank"
						rel="noopenner noreferrer"
						class="text-sky-400 font-semibold">GoFan</a
					> leading UI/UX/DX initiatives for both administrative and customer facing applications. In
					my spare time I enjoy spending time with my family, playing or watching sports, (sometimes)
					playing video games, and working on side projects.
				</p>

				<a href="/about" class="text-sky-400 font-semibold">Read more &#8608;</a>
			</section>

			<Image
				src="mgee.jpg"
				width="200px"
				height="200px"
				alt="Profile image of Michael Gee"
				class="rounded-full"
			/>
		</Container>

		<Footer />

		<style>
			.vertical-text-scroll {
				animation: verticalScroll 16s;
				animation-iteration-count: infinite;
				animation-delay: 3s;
			}

			@keyframes verticalScroll {
				0% {
					top: 2px;
				}
				20% {
					top: -40px;
				}
				40% {
					top: -80px;
				}
				60% {
					top: -120px;
				}
				80% {
					top: -160px;
				}
			}
		</style>
	</body>
</html>
