---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
import ProjectCard from '@components/ProjectCard.astro';

import { Icon } from 'astro-icon/components';
import communitilsImage from '../assets/portfolio/communitils.png';
import coreflowImage from '../assets/portfolio/coreflow.png';
import zillaImage from '../assets/portfolio/zilla.png';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Michael Gee's Portfolio"
      description="List of all current and past projects worked on by Michael Gee. These project include both career and personal related projects."
    />
  </head>

  <body class="w-full bg-black text-white">
    <Header />

    <Container customStyles="pb-[200px] md:pb-0">
      <div class="mr:0 mb-2 flex items-center justify-center md:mr-4 md:justify-end">
        <span class="mr-4 flex items-center">
          <Icon name="mdi:star" class="mr-3 h-6 w-6 text-yellow-400" /> Featured
        </span>
        <span class="mr-4 flex items-center">
          <Icon name="mdi:computer" class="mr-3 h-6 w-6 text-green-600" />Active
        </span>
        <span class="mr-4 flex items-center">
          <Icon name="mdi:archive" class="mr-3 h-6 w-6 text-gray-500" />Archive
        </span>
      </div>

      <div class="flex w-full flex-col items-center justify-start md:flex-row md:flex-wrap">
        <ProjectCard
          title="communitils"
          image={communitilsImage}
          imageAlt="communitils - An open-source TypeScript utility library focused on breaking into open-source technology while inviting others to do the same"
          icons={[
            {
              iconName: 'mdi:star',
              iconClass: 'text-yellow-400',
              title: 'Featured'
            },
            {
              iconName: 'mdi:computer',
              iconClass: 'text-green-600',
              title: 'Active'
            },
            {
              iconName: 'mdi:info',
              description:
                'An open-source TypeScript utility library focused on breaking into open-source technology while inviting others to do the same. This is my first dive into maintaining an open-source repository and I am excited to see where it goes. It is designed to be easy to use, easy to understand, easy to contribute to, and designed to be a learning tool for those who are new to open-source.'
            },
            {
              href: 'https://github.com/michael-gee/communitils',
              iconName: 'mdi:github'
            },
            {
              href: 'https://communitils.com',
              iconName: 'mdi:external-link'
            }
          ]}
        />

        <ProjectCard
          title="GoFan - HQ"
          image="https://get.gofan.co/hubfs/GoFan%20HQ_Blog%20Featured%20Image%20-%20Event%20Summary%20Report%20-%202022-01-1.jpg"
          imageAlt="GoFan HQ - Event Administration Built for Schools"
          icons={[
            {
              iconName: 'mdi:computer',
              iconClass: 'text-green-600',
              title: 'Active'
            },
            {
              iconName: 'mdi:info',
              description:
                'GoFan HQ is a comprehensive enterprise-level event administration platform built for schools providing a seamless experience for event management, digital ticketing, and more. It includes a large toolbox of features while keeping the user-experience intuitive. Over time the project transitioned from a heavy monolith to a lean and scalable monorepo which has powerful solutions involving advanced form and server state management.'
            },
            {
              href: 'https://get.gofan.co/product-blog/gofan-hq-event-administration-built-for-schools',
              iconName: 'mdi:external-link'
            }
          ]}
        />

        <ProjectCard
          title="GoFan - Mobile HQ"
          image="https://get.gofan.co/hubfs/2022%20-%20Blog/08_August%202022%20Blogs/Mobile%20HQ%20Newsroom.png"
          imageAlt="GoFan HQ Mobile - Event Management and Digital Ticketing for Schools"
          icons={[
            {
              iconName: 'mdi:computer',
              iconClass: 'text-green-600',
              title: 'Active'
            },
            {
              iconName: 'mdi:info',
              description:
                'GoFan HQ Mobile is "lite" version of GoFan HQ, providing a similar seamless experience for event management except it is designed to be used on the go and is optimized for mobile devices. It is focused on quick actions with easy access to the most important features along with the assumption that you might not have the best internet connection. No subdomain or app download required, just visit the same URL as GoFan HQ and it will automatically detect your device and adjust accordingly.'
            },
            {
              href: 'https://get.gofan.co/blog/mobile-event-management-platform-gofan-hq-proves-to-be-a-game-changer',
              iconName: 'mdi:external-link'
            }
          ]}
        />

        <ProjectCard
          title="CoreView - Workflow"
          image={coreflowImage}
          imageAlt="CoreView workflow visual example"
          icons={[
            {
              iconName: 'mdi:archive',
              iconClass: 'text-gray-500',
              title: 'Archive'
            },
            {
              iconName: 'mdi:info',
              description:
                'CoreView Workflow is a powerful tool that allows you manage complex workflows with ease. It provides a visual workflow builder that allows you to compose a rich set of actions and conditions that can be used to create powerful workflows. Includes many state-of-the-art features such as drag-and-drop, dynamic run-time inputs to resuse throughout the workflow, easy to understand validations, output/input carried between actions, and more.'
            },
            {
              href: 'https://www.coreview.com/user-management',
              iconName: 'mdi:external-link'
            }
          ]}
        />

        <ProjectCard
          title="Zilla - Marketing Site"
          image={zillaImage}
          imageAlt="CoreView workflow visual example"
          icons={[
            {
              iconName: 'mdi:archive',
              iconClass: 'text-gray-500',
              title: 'Archive'
            },
            {
              iconName: 'mdi:info',
              description:
                'Zilla is a marketing site that was built to showcase the Zilla product and its features. Built using the latest web technologies, designed to be responsive and accessible, and to be SEO friendly and optimized for performance.'
            },
            {
              href: 'https://zilla-site.vercel.app/',
              iconName: 'mdi:external-link'
            }
          ]}
        />
      </div>
    </Container>
  </body>
</html>
