---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Container from '@components/PageContainer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Michael Gee" description="" />
  </head>

  <body class="w-full bg-black text-white">
    <Header />

    <Container>
      <article class="flex flex-col items-center justify-center py-8">
        <h2 class="text-xl">Success!</h2>

        <p class="pt-4">Thank you for subscribing and joining me on my journey 🎉</p>
        <p class="py-2">Please check your email inbox for a subsciption confirmation.</p>

        <a href="/blog" class="text-md flex items-center pt-4 font-medium text-sky-400">
          &#8606; Return to blog
        </a>
      </article>
    </Container>
  </body>
</html>
