#rocketIcon {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--mg-primary);
  margin-top: 24px;
  font-size: 10em;
}

#title, #mainSubTitle {
  max-width: 640px;
  text-align: center;
}

#title {
  color: #141c3a;
  font-size: 3.4em;
  margin: 16px auto 8px auto;
}

#mainSubTitle {
  font-weight: lighter;
  margin: 0 auto;
  padding: 0 40px;
  color:rgba(10, 10, 10, 0.9);
}

#container section {
  padding-bottom: 24px;
}

.subTitle {
  color: var(--mg-primary);
  text-align: center;
  font-size: 3.2em;
  font-weight: normal;
}

/* Benefits Section */
#benefits {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.2em;
  max-width: 864px;
  margin: 0 auto;
  margin-top: 8px;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 16px 1.5%;
}
.benefit i {
  color: var(--mg-primary);
}
.benefit h3 {
  font-weight: 300;
  margin: 16px 0 8px 0;
  font-size: 1.1em;
}
.benefit p  {
  font-weight: lighter;
  margin: 0;
  font-size: .8em;
  text-align: center;
  padding: 0 8px;
}

/* How It Works section */
#howItWorks {
  padding: 0;
  font-size: 1.4em;
  list-style-type: none;
  text-align: center;
}
#howItWorks li h3 {
  font-weight: lighter;
  padding: 16px 0;
}
#howItWorks p {
  font-size: 1.24em;
  padding: 0 24px;
  padding-bottom: 16px;
  max-width: 600px;
  margin: 0 auto;
}
#howItWorks i {
  color: var(--mg-primary);
}

#introductionBtn {
  background: -webkit-linear-gradient(to bottom right, #004e92 40%, #000428);
  background: linear-gradient(to bottom right, #004e92 40%, #000428);
  color: #fff;
  margin-bottom: 24px;
  transition: .3s;
}
#introductionBtn:hover {
  opacity: .8;
}
#introductionBtn i {
  color: #fff;
}

/* Target Audience section */
#targetAudience {
  display: flex;
  width: 700px;
  justify-content: space-evenly;
  margin: 24px auto 0 auto;
  font-size: 1.8em;
}

.targetList {
  list-style-type: none;
  margin: 0;
  padding-left: 24px;
}
.targetList li::before {
  content: "\2022";
  color: var(--mg-primary);
  font-weight: bold;
  padding-right: 24px;
}
.targetList li {
  display: flex;
  padding: 8px 0;
  width: 350px;
  line-height: 1.4;
}

/* Pricing section */
#pricing {
  max-width: 700px;
  margin: 16px auto;
  padding: 0 24px;
  font-size: 1.8em;
  line-height: 1.4;
}
#pricing p {
  margin: 16px 0 24px 0;
}
#premiumStar {
  color: #F9D000;
}
#pricing hr {
  color: var(--mg-primary);
  border: 2px solid var(--mg-primary);
  border-radius: 4px;
  margin: 24px 0;
}

/* Get Started */
#getStarted {
  display: flex;
  align-items: center;
  max-width: 600px;
  background: -webkit-linear-gradient(to bottom right, #004e92 30%, #000428);
  background: linear-gradient(to bottom right, #004e92 30%, #000428);
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 16px;
  text-align: center;
  border-radius: 4px;
}

#getStartedBtn {
  background-color: white;
  color: var(--mg-primary);
  min-width: 114px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 16px;
}
#getStartedBtn:hover {
  opacity: .9;
}

/* FAQ section */
#faq {
  max-width: 600px;
  margin: 24px auto;
  font-size: 1.8em;
  line-height: 1.4;
}

@media screen and (max-width: 960px)  {
  #targetAudience {
    width: 100%;
    flex-direction: column;
  }

  .targetList li {
    width: 100%;
    padding-right: 16px;
  }
}


@media screen and (max-width: 650px)  {
  #getStarted {
    border-radius: 0;
  }

  #faq {
    max-width: calc(100% - 48px);
    margin: 24px;
  }
}

@media screen and (max-width: 550px)  {
  #benefits {
    flex-direction: column;
    max-width: 100%;
  }

  .benefit {
    width: 100%;
    margin: 16px 0;
  }
}