#mg-dataTable-pagination-container {
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 1124px;
  margin: 0 auto;
  padding: 40px 0;
}

.mg-dataTable-pagination-section { min-width: 33%; }

#mg-dataTable-pagination-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mg-dataTable-pagination-content button {
  display: flex;
  align-items: center;
  font-size: .9em;
  padding: 10px 12px;
  color: #337ab7;
  border: none;
  outline: none;
}
#mg-dataTable-pagination-content button:hover { 
  cursor: pointer;
  background-color: #f5f5f5;;
}

.mg-dataTable-pagination-disabled { color: #777 !important; }
.mg-dataTable-pagination-disabled:hover { 
  background-color: white !important;
  cursor: not-allowed !important;
 }

.mg-dataTable-pagination-pivot {
  display: flex;
  justify-content: flex-end;
}