#mg-hooks-sidebar {
  min-width: 290px;
  min-height: 100%;
  font-size: 1.8em;
}

/* #mg-hooks-react & mg-hooks-custom ids from Hooks index.js */

#mg-hooks-sidebar-backBtn {
  display: flex;
  margin: 24px auto;
}

#mg-hooks-react #mg-hooks-sidebar {
  background-color: var(--react-secondary);
  color: var(--react-primary);
  border-right: 10px solid var(--react-primary);
  border-top: 8px solid var(--react-primary);
}

#mg-hooks-custom #mg-hooks-sidebar {
  background-color: #FFF;
  color: var(--mg-canada-red);
  border-right: 10px solid var(--mg-canada-red);
  border-top: 8px solid var(--mg-canada-red);
}

.mg-hook-item {
  width: 100%;
  padding: 16px 0px;
  text-align: center;
}

.mg-hook-item:hover { cursor: pointer; }
#mg-hooks-react #mg-hook-currentlySelected, #mg-hooks-react .mg-hook-item:hover { 
  background-color: #565656;
}
#mg-hooks-custom #mg-hook-currentlySelected, #mg-hooks-custom .mg-hook-item:hover { 
  background-color: #EEE;
}