#mg-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.2em;
  max-width: 1154px;
  color: var(--mg-light-gray);
  background-color: var(--mg-dark-gray);
  margin: 0 auto;
  padding: 20px 24px;
  border-radius: 3px;
}

.mg-header-hidden {
  width: 40px;
  height: 40px;
}



