<section class="mx-auto mt-12">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="michael-gee/michaelgee.com"
    data-repo-id="MDEwOlJlcG9zaXRvcnkxMzEwNTM3OTg="
    data-category="Blog Post Comments"
    data-category-id="DIC_kwDOB8-45s4ClI0l"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  />
</section>