---
import { Icon } from 'astro-icon/components';
---

<section class="mt-4 w-full rounded-2xl border border-zinc-700/40 p-6">
  <h2 class="flex items-center text-sm font-semibold text-zinc-100">
    <Icon name="mdi:star" class="h-6 w-6 text-zinc-500" />
    <span class="ml-3">Featured</span>
  </h2>

  <div class="flex flex-col items-center justify-center py-6">
    <Icon name="ci:mobile" class="mb-2 h-8 w-8 text-zinc-500" />
    <h3>Coming soon...</h3>
  </div>
</section>
