---
import MobileNav from './MobileNav.astro';
import { Icon } from 'astro-icon/components';
---

<header class="fixed z-50 w-full font-semibold">
	<div
		class="mx-auto flex max-w-5xl items-center justify-between border-x-2 border-zinc-700/40 bg-zinc-900 px-4 py-4 md:px-12"
	>
		<a href="/" class="flex items-center hover:text-red-600">
			<Icon name="mdi:leaf-maple" class="mr-3 h-8 w-8 text-red-600" />
			<h2 class="text-2xl">Michael Gee</h2>
		</a>

		<nav class="hidden items-center py-3 md:flex">
			<div class="border-r-2 border-zinc-700 px-3 pr-2">
				<!-- <a href="/about" class="mx-2 text-zinc-300 hover:text-sky-400">About</a> -->
				<a href="/blog" class="mx-2 text-zinc-300 hover:text-sky-400">Blog</a>
				<a href="/portfolio" class="mx-2 text-zinc-300 hover:text-sky-400">Portfolio</a>
			</div>

			<div class="ml-2 flex items-center">
				<a
					href="https://michaelgee.com/rss.xml"
					target="_blank"
					rel="noopener noreferrer"
					class="ml-3 mr-2 cursor-pointer rounded-full text-zinc-300 hover:text-white"
				>
					<p class="hidden">Click the link to navigate to Michael Gee's blog RSS feed</p>
					<Icon name="mdi:rss" class="h-6 w-6" />
				</a>

				<a
					href="https://github.com/michael-gee"
					target="_blank"
					rel="noopener noreferrer"
					class="ml-3 mr-5 cursor-pointer rounded-full text-zinc-300 hover:text-white"
				>
					<p class="hidden">Click the link to navigate to Michael Gee's Github profile</p>
					<Icon name="mdi:github" class="h-6 w-6" />
				</a>

				<a
					href="https://x.com/michaelgee_"
					target="_blank"
					rel="noopener noreferrer"
					class="cursor-pointer rounded-full text-zinc-300 hover:text-white"
				>
					<p class="hidden">Click the link to navigate to Michael Gee's X profile</p>
					<svg
						aria-label="X formerly known as Twitter"
						fill="currentColor"
						height="16"
						viewBox="0 0 22 20"
					>
						<path
							d="M16.99 0H20.298L13.071 8.26L21.573 19.5H14.916L9.702 12.683L3.736 19.5H0.426L8.156 10.665L0 0H6.826L11.539 6.231L16.99 0ZM15.829 17.52H17.662L5.83 1.876H3.863L15.829 17.52Z"
						>
						</path>
					</svg>
				</a>
			</div>
		</nav>

		<MobileNav />
	</div>
</header>
