---
import { Icon } from 'astro-icon';
---

<header class="fixed w-full z-50">
	<div class="flex items-center justify-between max-w-6xl mx-auto py-3 px-8 border-y-2">
		<a href="/" class="flex items-center">
			<Icon pack="mdi" name="leaf-maple" class="maple-leaf" />
			<h2 class="text-2xl">Michael Gee</h2>
		</a>

		<nav>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
			<a href="/portfolio">Portfolio</a>
		</nav>
	</div>
</header>

<style>
	.header-content {
		background-color: hsl(240, 6%, 10%);
		border-left: 2px solid #2a2a2b;
		border-right: 2px solid #2a2a2b;
	}
	.title:hover {
		color: hsl(0, 76%, 57%);
	}

	.maple-leaf {
		width: 32px;
		height: 32px;
		margin-right: 12px;
		color: hsl(0, 76%, 57%);
	}

	nav {
		background-color: hsla(240, 4%, 16%, 0.9);
		padding: 12px;
		border-radius: 9999px;
		border: 2px solid #2a2a2b;
	}

	nav a {
		margin: 0 8px;
		padding: 8px;
		border-radius: 8px;
	}
	nav a:hover {
		color: #2cd4be;
	}
</style>
