---
import { Icon } from 'astro-icon';
---

<header>
	<div class="header-content">
		<a href="/" class="title">
			<Icon pack="mdi" name="leaf-maple" class="maple-leaf" />
			<h2>Michael Gee</h2>
		</a>

		<nav>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
			<a href="/portfolio">Portfolio</a>
		</nav>
	</div>
</header>

<style>
	header {
		position: fixed;
		width: 100%;
		padding: 10px 0;
		z-index: 1300;
		background-color: hsl(212, 32%, 8%);
	}

	.header-content {
		width: 1024px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.title {
		display: flex;
		align-items: center;
	}
	.title:hover {
		color: hsl(0, 76%, 57%);
		transition: 0.5s;
	}

	.maple-leaf {
		width: 32px;
		height: 32px;
		margin-right: 12px;
		color: hsl(0, 76%, 57%);
	}

	h2 {
		margin: 0.5em 0;
	}

	a {
		color: hsl(0, 0%, 100%);
		text-decoration: none;
	}

	nav a {
		margin: 0 4px;
		padding: 8px 16px;
		font-size: 18px;
		border-radius: 8px;
	}
	nav a:hover {
		background-color: hsl(214, 21%, 15%);
		transition-duration: 0.75s;
	}
</style>
