---
import { Icon } from 'astro-icon';
---

<header class="fixed w-full z-50 font-semibold">
	<div
		class="max-w-6xl flex items-center justify-between mx-auto py-1 px-8 border-x-2 dark:bg-zinc-900 dark:border-zinc-700/40"
	>
		<a href="/" class="flex items-center hover:text-red-600">
			<Icon pack="mdi" name="leaf-maple" class="w-8 h-8 mr-3 text-red-600" />
			<h2 class="text-2xl">Michael Gee</h2>
		</a>

		<nav class="p-3 rounded-full">
			<a href="/about" class="mx-2 hover:dark:text-sky-400">About</a>
			<a href="/blog" class="mx-2 hover:dark:text-sky-400">Blog</a>
			<a href="/portfolio" class="mx-2 hover:dark:text-sky-400">Portfolio</a>
		</nav>
	</div>
</header>
