---
export interface Props {
	customStyles?: string;
}

const { customStyles } = Astro.props;
---

<main
	class={`max-w-6xl mx-auto px-8 pt-24 py-4 border-x-2 bg-zinc-900 border-zinc-700/40 ${customStyles}`}
>
	<slot />
</main>
