---
export interface Props {
	customStyles?: string;
}

const { customStyles } = Astro.props;
---

<main
	class={`max-w-6xl mx-auto px-4   pt-16 py-4 border-x-2 bg-zinc-900 border-zinc-700/40 min-h-screen md:px-10 ${
		customStyles ? customStyles : ''
	}`}
>
	<slot />
</main>
