---
import { Icon } from 'astro-icon/components';

import { tech } from '@constants/tech';
import type { Tech } from '@constants/tech';
---

<section class="mt-4 w-full rounded-2xl border border-zinc-700/40 p-6">
	<h2 class="flex items-center text-sm font-semibold text-zinc-100">
		<Icon name="mdi:code" class="h-6 w-6 text-zinc-500" />
		<span class="ml-3">Tech</span>
	</h2>

	<ol class="mt-3 flex flex-wrap justify-center">
		{
			tech.map((t: Tech) => {
				return (
					<li class="mx-6 my-2 flex w-10 flex-col items-center justify-start text-center">
						<Icon name={t.iconName} class="h-8 w-8" style={{ color: t.iconColor }} />
						<span class="mt-1 text-xs">{t.name}</span>
					</li>
				);
			})
		}
	</ol>
</section>
