---
import { Icon } from 'astro-icon/components';
---

<section class="mt-8 w-full rounded-2xl border border-zinc-700/40 p-6">
  <h2 class="flex items-center text-sm font-semibold text-zinc-100">
    <Icon name="mdi:briefcase-variant-outline" class="h-6 w-6 text-zinc-500" />
    <span class="ml-3">Work</span>
  </h2>

  <ol class="mt-6 space-y-4">
    <slot />
  </ol>

  <a
    class="group mt-6 inline-flex w-full items-center justify-center gap-2 rounded-md bg-zinc-800 px-3 py-2 text-sm font-medium text-zinc-300 outline-offset-2 transition hover:bg-zinc-700 hover:text-zinc-50 active:bg-zinc-800/50 active:text-zinc-50/70 active:transition-none"
    href="https://www.linkedin.com/in/michael-gee/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="mdi:linkedin" class="h-5 w-5" />
    <span>LinkedIn</span>
  </a>
</section>
