.rs-dataTable-container {
  padding: 0 16px;
  background-color: white;
  font-size: 1.6em;
}

.rs-dataTable {
  width: 100%;
  border-radius: 5px;
  color: #212121;
  border-collapse: collapse;
}

.rs-dataTable-header {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.rs-dataTable-header th {
  font-weight: 400;
  padding: 8px;
}

.rs-dataTable-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}

.rs-dataTable-header-icon {
  color: #cecece;
}

.rs-dataTable-body tr { border-bottom: 1px solid #ddd; }
.rs-dataTable-body tr:hover { background-color: #f5f5f5; }
.rs-dataTable-body tr td { 
  padding: 6px 16px;
  padding-left: 24px;
  line-height: 1.43;  
}

.rs-dataTable-rowFilter { padding: 4px 0; }
.rs-dataTable-rowFilter .ui.icon.button {
  display: flex;
  justify-content: center;
  padding: 0; 
  min-width: 32px;
}