.itemContainer {
  display: flex;
  background-color: #fff;
  padding: 16px;
  margin: 24px;
  box-shadow: 0 3px 10px rgba(25, 17, 34, .05);
  border-radius: 4px;
  transition: .3s;
}
.itemContainer:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 42px rgba(25, 17, 34, .1);
  cursor: pointer;
}

.itemContent {
  padding: 0 24px;
  font-size: 1.6em;
}

.itemTitle {
  font-size: 1.3em;
  color: var(--mg-primary);
}

.itemMeta {
  margin: 8px 0;
}

.itemDate {
  color: #BEBEBE;
}