#hobbies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 24px 0;
  font-size: 2em;
}

.hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 24px 0;
}
.hobby span {
  padding-left: 16px;
}
.hobby i {
  color: var(--mg-primary);
}

@media screen and (max-width: 600px) {
  #hobbies {
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }

  .hobby {
    width: 100%;
    padding: 16px 0;
  }
}