---
export interface Props {
	href: string;
	title: string;
	date: string;
	description: string;
}

const { href, title, date, description } = Astro.props;
---

<a href={href}>
	<article class="blog-list-item">
		<h5>{date}</h5>
		<h3>{title}</h3>
		<p>{description}</p>
		<span class="text-sky-500 font-semibold dark:text-sky-400">Read Article &#8608;</span>
	</article>
</a>

<style>
	a {
		color: white;
		text-decoration: none;
	}

	.blog-list-item {
	}

	.blog-list-item h5 {
		color: #a2a2a9;
	}
	.blog-list-item h5::before {
		padding-right: 4px;
		border-left: 2px solid #a2a2a9;
	}

	.blog-list-item p {
		color: #a1a1aa;
	}
</style>
