.title {
  text-align: center;
  padding: 124px 0 32px 0;
  font-size: 4em;
}

.info {
  text-align: center;
  font-size: 1.8em;
}

#navBtn {
  display: flex;
  width: 206px;
  margin: 24px auto;
  background-color: var(--mg-primary);
  color: white;
}
#navBtn:hover {
  opacity: .8;
}