#rs-pagination-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 0 40px 8px;
  font-size: 15px;
}

#rs-pagination-totalItems, #rs-pagination, #rs-pagination-viewItems {
  min-width: 33%;
}

#rs-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
#rs-pagination button {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #337ab7;
  border: none;
  font-size: 14px;
  outline: none;
}
#rs-pagination button:hover {
  cursor: pointer;
}
#rs-pagination button:hover, #rs-pagination-selected {
  background-color: #f5f5f5;
}

.rs-pagination-disabled {
  color: #777 !important;
}
.rs-pagination-disabled:hover {
  background-color: white !important;
  cursor: not-allowed !important;
}

#rs-pagination-viewItems, #rs-pagination-viewItems .ms-Pivot {
  display: flex;
  justify-content: flex-end;
}