.markdownContainer h1, .markdownContainer h2, .markdownContainer h3, .markdownContainer h4, .markdownContainer h5, .markdownContainer h6 {
  margin: 16px 0;
}

.markdownContainer > p, .markdownContainer > a, .markdownContainer > ol, .markdownContainer > ul, .markdownContainer > blockquote, .markdownContainer > pre {
  font-size: 2em;
}

.markdownContainer > ol, .markdownContainer > ul, .markdownContainer > pre  {
  line-height: 1.4;
}

.markdownContainer > blockquote {
  border-left: 4px solid #737C85;
  margin: 16px 0;
  padding: 8px 24px;
}

.markdownContainer > pre {
  max-width: 584px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #2C2D31;
  border-radius: 4px;
  padding: 0 16px;
}

.markdownContainer > pre > code, .markdownContainer > p > code {
  background-color: #2C2D31;
  color: #99DCFD;
  padding: 4px;
  border-radius: 4px;
}

.markdownContainer img {
  max-width: 100%;
}
