body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #EFEFEF;

  /* CSS Variables Palette */
  --mg-primary-red: #C3073F;
  --mg-secondary-red: #950740;
  --mg-tertiary-red: #6F2232;
  --mg-watermelon-red: #FF3B3F;

  --mg-light-gray: #EFEFEF;
  --mg-carbon-gray: #A9A9A9;
  --mg-dark-gray: #4E4E50;
  --mg-dark: #1A1A1D;

  --react-primary: #62DAFB;
  --react-secondary: #424242;
}

h1 { font-size: 3.2em; margin: 0; }
h2 { font-size: 2.4em; margin: 0; }
h3 { font-size: 1.8em; margin: 0; }
h4 { font-size: 1.6em; margin: 0; }
h5 { font-size: 1.3em; margin: 0; }
h6 { font-size: 1.2em; margin: 0; }

/* Dialog close iconBtn style */
.ui.modal.mg-dialog .close.icon { color: black; }