.header {
  height: 94%;
  max-height: 640px;
}

.nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 640px;
  margin-left: 8px;
}
.nav .navBtn:first-of-type {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.nav .navBtn:last-of-type {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.navBtn {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafb !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #eee !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 80px;
  height: 80px;
}
#selected, .navBtn:hover {
  color: var(--mg-primary) !important;
}

.navBtn div {
  font-size: .6em !important;
  padding-top: 4px;
}

.mobileNav {
  display: none;
}

.mobileNavContent {
  display: flex;
  margin-top: 4px;
}

.mobileTitle {
  padding-top: 6px;
  font-size: 2.8em;
  padding-left: 10px;
}

.mobileSubtitle {
  color: var(--mg-primary);
  font-weight: normal;
  font-size: 1.9em;
  padding-left: 12px;
}

#menuBtn {
  background-color: transparent;
  width: 64px;
  height: 64px;
  font-size: 1.8em;
  padding: 0;
  margin-left: auto;
}


@media screen and (max-width: 960px) {
  .header {
    padding: 16px 0;
  }
}

@media screen and (max-width: 650px)  {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 72px;
    z-index: 100;
    background-color: #fafafb;
    padding: 0 !important;
    border-radius: 0;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
  }

  .nav {
    display: none;
    height: 100%;
  }

  .mobileNav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .mobileNavContent {
    /* margin-right: auto; */
    cursor: pointer;
  }
}

@media screen and (max-width: 350px)  {
  #menuBtn {
    width: 42px;
    height: 42px;
  }
}