#rs-treeList-container {
  font-size: 1.6em;
  background-color: white;
  padding: 24px;
}

.rs-treeList-list {
  list-style-type: none;
}

.rs-treeList-item {
  display: flex;
  align-items: center;
}
.rs-treeList-caret-icon {
  border-radius: 50%;
}
.rs-treeList-caret-icon:hover {
  background-color: white;
  color: black;
}

.rs-treeList-caret-icon {
  color: black;
}