#rs-treeList-container {
  font-size: 1.6em;
  background-color: white;
  padding: 24px;
}

.rs-treeList-list {
  list-style-type: none;
}

.rs-treeList-item {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.rs-treeList-item-icon {
  border-radius: 50%;
}