#rs-homepage-container {
  display: flex;
  flex-wrap: wrap;
}

/* FeatureItem CSS */
.rs-homepage-ftItem .ui.card {
  color: white;
  background-color: var(--rs-tertiary-color);
  font-size: 1.8em;
  width: 276px;
  margin: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* Card.Header */
.rs-homepage-ftItem .ui.card .header { 
  color: white;
  margin: 0 12px;
}
/* Card.Meta */
.rs-homepage-ftItem .ui.card .meta { 
  color: rgba(155,155,155,.9);
  margin: 8px 12px;
}

.rs-featureItem-cardIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}